@page "/about"

<h1>About</h1>

<p>This is a PWA Blazor app</p>
<p>You can add it as shortcut to your mobile desktop</p>
<p>and it will work as an installed application</p>
<p>Check the project at github... <a href="https://github.com/meirkr/WhatsappPhoneConnect">Github-link</a></p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

