@page "/about"

<h1>About</h1>
<h2>Using .NET 5 rc2</h2>
<p>This is a PWA Blazor app</p>
<p>You can add it as shortcut to your mobile desktop</p>
<p>and it will work as an installed application</p>
<p>Check the project at github... <a href="https://github.com/meirkr/WhatsappPhoneConnect">Github-link</a></p>


<p>Last build: 21 Oct 2020</p>
